/*Цвет основного текста #212121 Черный
/*Цвет вторичного текста #757575 Серый

/*Цвет акцента #2196F3 (голубой)
/* Цвет фона хедера #FFFFFF белый

/* Цвет фона #E5E5E5 белый основной #E5E5E5 

/* Цвет фона вторичный #F5F4FA*/

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --background: #f5f4fa;
}

body {
  background-color: var(--primery-white-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.color-logo {
  color: var(--title-text-color);
}
/* Site navigation */
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .list {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.cont-nav .link:hover,
.cont-nav .link:focus {
  color: var(--accent-color);
}

.mail-phone {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.mail-phone:hover,
.mail-phone:focus {
  color: var(--accent-color);
}

/* Section with button */
.desk-header {
  background-color: var(--title-text-color);
}
.desk {
  color: var(--primery-white-color);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.button {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
}
.button:hover {
  background-color: #188ce8;
}

/* Section features-list */

.title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
}

.title-text {
  color: var(--primery-text-color);
  font-weight: 400;
  line-height: 1.71;
}

/* Sections Чем мы занимаемся */

.title-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

/* Sections Наша команда */

.section-team {
  background-color: var(--background);
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.team-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.image-fone {
  background-color: var(--primery-white-color);
}

.section-team .title-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Footer */

.footer {
  background-color: var(--title-text-color);
}
.footer-logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
}
.footer .logo-color {
  color: var(--primery-white-color);
}

.footer-adress {
  color: var(--primery-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}

.footer-cont {
  color: rgb(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-cont:hover,
.footer-cont:focus {
  color: var(--accent-color);
}

/* Cтраница портфолио */

.items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;
}

.items:hover,
.items:focus {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
}

.service-portfolio {
  text-decoration: none;
}

.service-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.service-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
